<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.settings.seo.description }}">
    <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
    <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

    <META http-equiv="refresh" content="2; URL=/">

    <title>{{ site.data.settings.title }}</title>

    <link rel="stylesheet" href="/assets/css/all.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    {% include analytics.html %}
  </head>
  <body class="daily-blog">


  <h1 id="blog">Daily Blog</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section>





<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
