//output:output/index.html
doctype html
html
  head
    link(rel="stylesheet", href="main.min.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    title SearchWiki
  body
    div(class="container", align="center")
      h1 SearchWiki
      form(class="form", id="search", onsubmit="return false", align="center")
        input(id="txt", type="text", autocomplete="true")
        button(id="btn", type="submit", class="btn")
          i(id="mag", class="material-icons") &#xE8B6;
      div
        br
        a(href="https://en.wikipedia.org/wiki/Special:Random", target="_blank")
          i(id="rand", class="material-icons") &#xEB40;
      div(id="listDiv")
        ul(id="list")
        
        
  script(src="https://code.jquery.com/jquery-2.2.3.min.js")
  script(src="script.js")
